<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">


    <context:component-scan base-package="com.coolpeng.**.service,com.coolpeng.**.controller" />

    <bean id="propertyConfigurer" class="com.coolpeng.framework.utils.TMSPropertyConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:/db-connection.properties</value>
            </list>
        </property>
    </bean>


    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">-->
        <!--<property name="url" value="${connection.url}" />-->
        <!--<property name="username" value="${connection.username}" />-->
        <!--<property name="password" value="${connection.password}" />-->
        <!--&lt;!&ndash;<property name="driverClassName" value="com.p6spy.engine.spy.P6SpyDriver" />&ndash;&gt;-->

        <!--<property name="initialSize" value="${druid.initialSize}" />-->
        <!--<property name="minIdle" value="${druid.minIdle}" />-->
        <!--<property name="maxActive" value="${druid.maxActive}" />-->

        <!--<property name="maxWait" value="${druid.maxWait}" />-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />-->

        <!--<property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />-->

        <!--<property name="validationQuery" value="${druid.validationQuery}" />-->
        <!--<property name="testWhileIdle" value="${druid.testWhileIdle}" />-->
        <!--<property name="testOnBorrow" value="${druid.testOnBorrow}" />-->
        <!--<property name="testOnReturn" value="${druid.testOnReturn}" />-->

        <!--<property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />-->
        <!--<property name="maxPoolPreparedStatementPerConnectionSize"-->
                  <!--value="${druid.maxPoolPreparedStatementPerConnectionSize}" />-->

        <!--<property name="filters" value="${druid.filters}" />-->
    <!--</bean>-->


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="${connection.url}" />
        <property name="user" value="${connection.username}" />
        <property name="password" value="${connection.password}"/>
        <property name="initialPoolSize" value="10"/>
        <property name="maxPoolSize" value="20"/>
        <property name="testConnectionOnCheckin" value="false"/>
        <property name="testConnectionOnCheckout" value="true"/>
        <property name="preferredTestQuery" value="SELECT 1"/>
    </bean>



    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <bean id="namedParameterJdbcTemplate"
          class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>


    <bean id="coolpengSpringBeanFactory" class="com.coolpeng.framework.utils.ServiceUtils"></bean>


</beans>